In [19]:
from sklearn.model_selection import KFold
import pandas as pd

In [20]:
covid = pd.read_csv('test_covid.csv')
covid

,#,Country,Total_Cases,Total_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Tot_Cases_1M_pop,Deaths_1M_pop,Total_Tests,Tests_1M_pop,Population
0,1,USA,98166904,1084282,94962112,2120510,2970,293206,3239,1118158870,3339729,3.348053e+08
1,2,India,44587307,528629,44019095,39583,698,31698,376,894416853,635857,1.406632e+09
2,3,France,35342950,155078,34527115,660757,869,538892,2365,271490188,4139547,6.558452e+07
3,4,Brazil,34706757,686027,33838636,182094,8318,161162,3186,63776166,296146,2.153536e+08
4,5,Germany,33312373,149948,32315200,847225,1406,397126,1788,122332384,1458359,8.388360e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
193,202,Antigua_and_Barbuda,9098,146,8923,29,1,91429,1467,18901,189943,9.950900e+04
194,203,Guinea-Bissau,8796,175,8301,320,6,4263,85,145231,70385,2.063367e+06
195,205,Liberia,7961,294,7636,31,2,1501,55,139824,26356,5.305117e+06
196,206,Sierra_Leone,7751,126,0,0,933,15,259958,31296,8306436,NaN
197,207,Chad,7583,193,4874,2516,435,11,191341,10988,17413580,NaN

In [21]:
#Datos covid
df_x = pd.DataFrame(covid.iloc[:,5])
df_x

     Active_Cases
0         2120510
1           39583
2          660757
3          182094
4          847225
..            ...
193            29
194           320
195            31
196             0
197          2516

[198 rows x 1 columns]

In [22]:
#Total Cases
df_y = covid.iloc[:,2]
df_y

0      98166904
1      44587307
2      35342950
3      34706757
4      33312373
         ...
193        9098
194        8796
195        7961
196        7751
197        7583
Name: Total_Cases, Length: 198, dtype: int64

In [23]:
kf = KFold(n_splits=5, shuffle=True, random_state=2) #mas nsplits mas se dividen los datos

for x_values, y_values in kf.split(df_x):
    print(x_values,y_values)
    #print("Training: ",covid.iloc[x_values],"Test: ",covid.iloc[y_values])

[  0   1   4   5   7   8  11  15  16  17  18  19  20  21  22  24  26  27
  28  30  31  32  33  34  36  37  38  39  40  41  42  43  46  47  49  50
  51  52  55  56  58  59  60  61  62  63  66  67  68  69  70  72  73  74
  75  76  77  79  80  81  82  83  84  86  87  88  89  90  91  93  94  95
  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 114 116
 117 118 119 120 121 123 124 126 129 130 131 132 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157
 158 159 160 161 162 164 165 167 168 169 170 173 175 177 178 179 181 182
 183 184 185 186 187 188 189 190 192 193 194 195 196 197] [  2   3   6   9  10  12  13  14  23  25  29  35  44  45  48  53  54  57
  64  65  71  78  85  92 112 113 115 122 125 127 128 133 163 166 171 172
 174 176 180 191]
[  0   2   3   4   6   7   9  10  12  13  14  15  16  17  18  19  20  21
  22  23  25  26  27  29  30  31  32  33  34  35  36  37  38  39  40  43
  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61
  62  63  64  65  67  68  69  70  71  72  73  74  75  76  77  78  80  81
  83  84  85  86  87  88  90  91  92  93  95  96  97  98  99 101 102 103
 104 105 107 110 112 113 114 115 116 117 118 120 121 122 124 125 126 127
 128 129 132 133 134 136 137 138 141 143 144 145 146 148 149 151 152 153
 154 155 156 159 160 162 163 166 167 168 169 170 171 172 174 176 177 179
 180 181 183 184 187 188 189 191 192 193 194 195 196 197] [  1   5   8  11  24  28  41  42  66  79  82  89  94 100 106 108 109 111
 119 123 130 131 135 139 140 142 147 150 157 158 161 164 165 173 175 178
 182 185 186 190]
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  18  19  22
  23  24  25  26  28  29  31  32  33  34  35  37  38  39  40  41  42  43
  44  45  46  47  48  49  50  51  52  53  54  56  57  58  60  61  63  64
  65  66  67  68  69  70  71  72  73  75  76  78  79  80  81  82  83  84
  85  86  88  89  90  92  94  95  96  97 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 115 116 117 119 121 122 123 124 125 127 128 129
 130 131 132 133 134 135 136 138 139 140 142 145 147 148 150 151 153 157
 158 161 162 163 164 165 166 167 168 170 171 172 173 174 175 176 177 178
 180 181 182 183 184 185 186 187 189 190 191 192 193 196] [  0  16  17  20  21  27  30  36  55  59  62  74  77  87  91  93  98  99
 114 118 120 126 137 141 143 144 146 149 152 154 155 156 159 160 169 179
 188 194 195 197]
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  20  21  22  23  24  25  27  28  29  30  31  33  35  36  37  38  41  42
  43  44  45  46  47  48  51  52  53  54  55  57  58  59  62  63  64  65
  66  67  69  71  72  74  75  77  78  79  80  82  85  87  88  89  91  92
  93  94  95  98  99 100 102 103 104 106 107 108 109 111 112 113 114 115
 116 118 119 120 121 122 123 124 125 126 127 128 130 131 133 135 137 139
 140 141 142 143 144 146 147 148 149 150 152 154 155 156 157 158 159 160
 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 179 180 181 182 183 185 186 187 188 190 191 192 194 195 197] [ 18  19  26  32  34  39  40  49  50  56  60  61  68  70  73  76  81  83
  84  86  90  96  97 101 105 110 117 129 132 134 136 138 145 151 153 184
 189 193 196]
[  0   1   2   3   5   6   8   9  10  11  12  13  14  16  17  18  19  20
  21  23  24  25  26  27  28  29  30  32  34  35  36  39  40  41  42  44
  45  48  49  50  53  54  55  56  57  59  60  61  62  64  65  66  68  70
  71  73  74  76  77  78  79  81  82  83  84  85  86  87  89  90  91  92
  93  94  96  97  98  99 100 101 105 106 108 109 110 111 112 113 114 115
 117 118 119 120 122 123 125 126 127 128 129 130 131 132 133 134 135 136
 137 138 139 140 141 142 143 144 145 146 147 149 150 151 152 153 154 155
 156 157 158 159 160 161 163 164 165 166 169 171 172 173 174 175 176 178
 179 180 182 184 185 186 188 189 190 191 193 194 195 196 197] [  4   7  15  22  31  33  37  38  43  46  47  51  52  58  63  67  69  72
  75  80  88  95 102 103 104 107 116 121 124 148 162 167 168 170 177 181
 183 187 192]

In [36]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [25]:
regr = linear_model.LinearRegression() #Regresion lineal

#Se llama modelo de regresion lineal

In [37]:
for train_index, test_index in kf.split(df_x):
    #print(train_index,test_index)
    #x_train, x_test = df_x[train_index],df_x[test_index]
    #y_train, y_test = df_y[train_index],df_y[test_index]
    #x_train = x_train.values.reshape([x_train.values.shape[0],1])
    x_main,x_test,y_main,y_test = train_test_split(df_x,df_y,test_size=0.2,random_state=0) 
    regr.fit(x_main,y_main)
    y_pred = regr.predict(x_test)
    print(y_pred)
    print("----------------------------------------------------------------")
    r_square = metrics.r2_score(y_test, y_pred)
    print('R-Square Error associated with Random Forest Regression is:', r_square)

[ 1672642.95865561  1004126.30504032  1004126.30504032  1013244.43862655
  1046055.07193282  2789266.44237007 27631017.18438137  3393004.06661171
 31900317.74830811  1013134.58159539  2069776.12629682  1013830.34279273
  1020275.28862075  1003320.68681182  1664916.34746407 18436386.4854544
  1882506.50718044  1000427.78499128  1741230.36510946  1016723.24461326
  1000427.78499128  1003027.73472872  1177187.74812675  1013757.10477196
  1002771.40165602  1245262.48843519  1019909.09851688  1004382.63811302
  1146903.82653714  3981764.51560529  3876082.05162995  1000977.07014708
  1000903.83212631  1005517.827435    3594042.4336334   1012145.86831495
  1002588.30660409 32024968.85966363  1130937.93800864  1003247.44879104]
----------------------------------------------------------------
R-Square Error associated with Random Forest Regression is: 0.7470717968470009
[ 1672642.95865561  1004126.30504032  1004126.30504032  1013244.43862655
  1046055.07193282  2789266.44237007 27631017.18438137  3393004.06661171
 31900317.74830811  1013134.58159539  2069776.12629682  1013830.34279273
  1020275.28862075  1003320.68681182  1664916.34746407 18436386.4854544
  1882506.50718044  1000427.78499128  1741230.36510946  1016723.24461326
  1000427.78499128  1003027.73472872  1177187.74812675  1013757.10477196
  1002771.40165602  1245262.48843519  1019909.09851688  1004382.63811302
  1146903.82653714  3981764.51560529  3876082.05162995  1000977.07014708
  1000903.83212631  1005517.827435    3594042.4336334   1012145.86831495
  1002588.30660409 32024968.85966363  1130937.93800864  1003247.44879104]
----------------------------------------------------------------
R-Square Error associated with Random Forest Regression is: 0.7470717968470009
[ 1672642.95865561  1004126.30504032  1004126.30504032  1013244.43862655
  1046055.07193282  2789266.44237007 27631017.18438137  3393004.06661171
 31900317.74830811  1013134.58159539  2069776.12629682  1013830.34279273
  1020275.28862075  1003320.68681182  1664916.34746407 18436386.4854544
  1882506.50718044  1000427.78499128  1741230.36510946  1016723.24461326
  1000427.78499128  1003027.73472872  1177187.74812675  1013757.10477196
  1002771.40165602  1245262.48843519  1019909.09851688  1004382.63811302
  1146903.82653714  3981764.51560529  3876082.05162995  1000977.07014708
  1000903.83212631  1005517.827435    3594042.4336334   1012145.86831495
  1002588.30660409 32024968.85966363  1130937.93800864  1003247.44879104]
----------------------------------------------------------------
R-Square Error associated with Random Forest Regression is: 0.7470717968470009
[ 1672642.95865561  1004126.30504032  1004126.30504032  1013244.43862655
  1046055.07193282  2789266.44237007 27631017.18438137  3393004.06661171
 31900317.74830811  1013134.58159539  2069776.12629682  1013830.34279273
  1020275.28862075  1003320.68681182  1664916.34746407 18436386.4854544
  1882506.50718044  1000427.78499128  1741230.36510946  1016723.24461326
  1000427.78499128  1003027.73472872  1177187.74812675  1013757.10477196
  1002771.40165602  1245262.48843519  1019909.09851688  1004382.63811302
  1146903.82653714  3981764.51560529  3876082.05162995  1000977.07014708
  1000903.83212631  1005517.827435    3594042.4336334   1012145.86831495
  1002588.30660409 32024968.85966363  1130937.93800864  1003247.44879104]
----------------------------------------------------------------
R-Square Error associated with Random Forest Regression is: 0.7470717968470009
[ 1672642.95865561  1004126.30504032  1004126.30504032  1013244.43862655
  1046055.07193282  2789266.44237007 27631017.18438137  3393004.06661171
 31900317.74830811  1013134.58159539  2069776.12629682  1013830.34279273
  1020275.28862075  1003320.68681182  1664916.34746407 18436386.4854544
  1882506.50718044  1000427.78499128  1741230.36510946  1016723.24461326
  1000427.78499128  1003027.73472872  1177187.74812675  1013757.10477196
  1002771.40165602  1245262.48843519  1019909.09851688  1004382.63811302
  1146903.82653714  3981764.51560529  3876082.05162995  1000977.07014708
  1000903.83212631  1005517.827435    3594042.4336334   1012145.86831495
  1002588.30660409 32024968.85966363  1130937.93800864  1003247.44879104]
----------------------------------------------------------------
R-Square Error associated with Random Forest Regression is: 0.7470717968470009